@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter.ttf') format('truetype-variations');
  font-weight: 400 500 600 700;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: 'Manrope';
//   src: url('../assets/fonts/Manrope-Regular.woff2') format('woff2');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }
