:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #808080;
  --color-accent: #420093;

  --color-grey-dark: oklch(from var(--color-grey) 20% c h);
  --color-grey-light: oklch(from var(--color-grey) 85% c h);

  --color-accent-dark: oklch(from var(--color-accent) 10% c h);
  --color-accent-light: oklch(from var(--color-accent) 75% c h);

  --border-width-m: 4px;
  --border-width: 2px;
  --border-width-s: 1px;

  --border: var(--border-width) solid var(--color-white);

  --border-radius-l: 12px;
  --border-radius-m: 10px;
  --border-radius: 8px;
  --border-radius-s: 6px;
  --border-radius-xs: 4px;

  --font-family-base: 'Inter', 'san-serif';

  --container-padding-x: #{fluid(
      $container-padding-desktop,
      $container-padding-mobile
    )};
  --container-width: #{fluid($desktop-width, $min-viewport-width)};

  --section-padding-y: #{fluid(
      $section-padding-y-desktop,
      $section-padding-y-mobile
    )};
  --section-gap: #{fluid($section-gap-desktop, $section-gap-mobile)};

  --transition-duration: 0.2s;
  --transition-duration-long: 0.4s;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --transition-duration: 0.001s;
    --transition-duration-long: 0.001s;
  }
}
