.tabs-navigation {
  --tabsNavigationActiveButtonWidth: 0;
  --tabsNavigationActiveButtonOffsetLeft: 0;
  --tabsNavigationPadding: 10px;

  position: relative;
  display: flex;
  width: fit-content;
  padding: var(--tabsNavigationPadding);
  border: var(--border);
  border-radius: var(--border-radius);

  &::before {
    content: '';
    position: absolute;
    top: var(--tabsNavigationPadding);
    left: 0;
    width: var(--tabsNavigationActiveButtonWidth);
    height: calc(100% - var(--tabsNavigationPadding) * 2);
    background-color: var(--color-accent);
    border-radius: var(--border-radius);
    transition-duration: var(--transition-duration);
    translate: var(--tabsNavigationActiveButtonOffsetLeft);
  }

  &__button {
    position: relative;
    cursor: pointer;
    transition-duration: var(--transition-duration);
    user-select: none;

    &.is-active {
      pointer-events: none;
    }
  }
}
