.field {
  --controlHeight: 44px;
  --fieldSpacing: 8px;
  --fieldSpacingX: calc(var(--fieldSpacing) * 2);

  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 8px;

  &__label {
    font-weight: 600;
    color: var(--color-white);
  }

  &__required-star {
    color: var(--color-accent-light);
  }

  &__body {
    display: flex;
    column-gap: 12px;
    width: 100%;
  }

  &__control {
    width: 100%;
    height: var(--controlHeight);
    padding: var(--fieldSpacing) var(--fieldSpacingX);
    color: white;
    background-color: var(--color-black);
    border: var(--border);
    border-radius: var(--border-radius);
    
    @include hover {
      border-color: var(--color-accent-light);
    }

    &:user-invalid {
      border-color: red;
    }

    &:disabled {
      @include disabled;
    }
  }

  textarea.field__control {
    resize: vertical;
    min-height: calc(var(--controlHeight) * 3);
  }
}