table {
  --tableBorder: var(--border);

  border: var(--tableBorder);
  border-radius: var(--border-radius);
  border-collapse: separate;

  thead {
    background-color: var(--color-black);
  }

  tbody {
    tr:last-child {
      td {
        border-bottom: none;
      }
    }
  }

  th,
  td {
    padding: 8px;
    border-bottom: var(--tableBorder);

    &:not(:last-child) {
      border-right: var(--tableBorder);
    }
  }

  th {
    font-weight: 600;
    text-align: left;
    color: var(--color-white);
  }
}
